@model CourseManagement.Models.Account

@{
    ViewData["Title"] = "Xác nhận xóa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Title -->
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a> </li>
            <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a> </li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->


<!-- Section -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">


                    <!-- Card Title -->
                    <div class="card-title">
                    </div>
                    <!-- End Card Title -->
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                            <tr class="text-center">
                                <th scope="col">Tài khoản</th>
                                <th scope="row">@Model.Username</th>
                            </tr>

                            <tr class="text-center">
                                <th scope="col">Họ và tên</th>
                                <td>
                                    @Model.Fullname
                                </td>
                            </tr>

                            <tr class="text-center">
                                <th scope="col">Số điện thoại</th>
                                <td>
                                    @Model.Phone
                                </td>
                            </tr>

                            <tr class="text-center">
                                <th scope="col">Kích hoạt</th>
                                @if (@Model.Active == true)
                                {
                                    <td class="text-success">
                                        <i class="bi bi-shield-check"></i> <b>Cho phép</b>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-danger">
                                        <i class="bi bi-shield-slash"></i> <b>Bị khóa</b>
                                    </td>
                                }
                            </tr>

                            <tr class="text-center">
                                <th scope="col">Quyền</th>
                                <td>
                                    @Model.IdRoleNavigation.Name
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- End Table -->


                </div>
            </div>
            <div class="btn-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdAccount" />
                    <button class="btn btn-outline-danger">
                        <i class="bi bi-eraser-fill"></i> Xóa
                    </button>
                    <a type="button" class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">
                        <i class="bi bi-reply-fill"></i> Trở về
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->