@model CourseManagement.Models.Class

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalendarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCalendarNavigation.IdCalendar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLecturerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLecturerNavigation.IdAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudentNavigation.IdAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdClass">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
