@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<CourseManagement.Models.Course>

@{
    ViewData["Title"] = "Quản lý khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- ======= #main ======= -->
<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a> </li>
                <li class="breadcrumb-item active">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <!-- Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">


                        <!-- Card Title -->
                        <div class="card-title">
                             @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
                            {
                                <a type="button" class="btn btn-outline-primary" asp-action="Create" asp-area="Admin" asp-controller="AdminCourses">
                                    <i class="bi bi-person-plus"></i> Tạo mới
                                </a>

                                <a type="button" class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                                    <i class="bi bi-stack"></i> Quản lý danh mục
                                </a>
                            }
                        </div>
                        <!-- End Card Title -->
                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr class="table-primary text-center">
                                    <th scope="col">Khóa học</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Hình ảnh</th>
                                    <th scope="col">Giá (VND)</th>
                                    <th scope="col">Kích hoạt</th>

                                    <th scope="col">
                                        <select class="form-select text-center" id="textIdCategory" name="IdCategory" style="min-width: 200px;" asp-items="ViewBag.IdCategory" onselect="ViewBag.CurrentIdCategory">
                                            <option value="0">Tất cả danh mục</option>
                                        </select>
                                    </th>

                                    <th scope="col">Thêm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <th scope="row">@item.Name</th>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>

                                            <img style="width:100px; height: auto;" src="@item.Image" alt="@item.Name Image">
                                        </td>
                                        <td>
                                            @item.Price VND
                                        </td>

                                        @if (@item.Active == true)
                                        {
                                            <td class="text-success">
                                                <i class="bi bi-shield-check"></i> <b>Cho phép</b>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">
                                                <i class="bi bi-shield-slash"></i> <b>Bị khóa</b>
                                            </td>
                                        }

                                        <td>
                                            @item.IdCategoryNavigation.Name
                                        </td>
                                        <td>
                                            @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
                                            {
                                                <div class="btn-group">
                                                    <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-area="Admin" asp-controller="AdminCourses" asp-route-id="@item.IdCourse">
                                                        <i class="bi bi-pencil-square"></i> Chỉnh sửa
                                                    </a>
                                                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-area="Admin" asp-controller="AdminCourses" asp-route-id="@item.IdCourse">
                                                        <i class="bi bi-eraser-fill"></i> Xóa
                                                    </a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table -->


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section -->
    @section Scripts{
        <script>
            $(document).ready(function () {

                $("#textIdCategory option[value=@ViewBag.CurrentIdCategory]").prop('selected', true);

                jQuery("#textIdCategory").change(function () {

                    var IdCategory = parseInt(jQuery(this).children(":selected").attr("value"));
                    $("#textIdCategory > [value=" + IdCategory + "]").attr("selected", true);
                    $.ajax({
                        url: '/Admin/FindAndFilter/FiltterCourses',
                        datatype: "json",
                        type: "GET",
                        data: {
                            IdCategory: IdCategory
                        },
                        async: true,
                        success: function (results) {
                            if (results.status == "success") {
                                window.location.href = results.redirectUrl;
                            }
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });
                });

            });
        </script>
    }
    </main>
    <!-- End #main -->