@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<CourseManagement.Models.Course>

@{
    ViewData["Title"] = "Quản lý khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageLength = ViewBag.PageLength;
    int PageBack = PageCurrent - 1;
    int PageNext = PageCurrent + 1;
    int PageCategory = ViewBag.CurrentIdCategory;
    int PageNextPlus = PageNext + 1;
    int PageNextMinus = PageBack - 1;
}

<!-- ======= #main ======= -->
<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a> </li>
                <li class="breadcrumb-item active">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <!-- Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">


                        <!-- Card Title -->
                        <div class="card-title">

                                <a type="button" class="btn btn-outline-primary" asp-action="Create" asp-area="Admin" asp-controller="AdminCourses">
                                    <i class="bi bi-person-plus"></i> Tạo mới
                                </a>

                                <a type="button" class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                                    <i class="bi bi-stack"></i> Quản lý danh mục
                                </a>

                                <a type="button" class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminCalendars" asp-action="Index">
                                    <i class="bi bi-calendar-week"></i> Quản lý lịch học
                                </a>

                        </div>
                        <!-- End Card Title -->
                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr class="table-primary text-center">
                                    <th scope="col">Khóa học</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Hình ảnh</th>
                                    <th scope="col">Giá (VND)</th>
                                    <th scope="col">Kích hoạt</th>

                                    <th scope="col">
                                        <select class="form-select text-center" id="textIdCategory" name="IdCategory" style="min-width: 200px;" asp-items="ViewBag.IdCategory" onselect="ViewBag.CurrentIdCategory">
                                            <option value="0">Tất cả danh mục</option>
                                        </select>
                                    </th>

                                    <th scope="col">Thêm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <th scope="row">
                                            <a href="/Admin/AdminCalendars?IdCourse=@item.IdCourse&Page=1" class="card-link">
                                                @item.Name
                                            </a>
                                        </th>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            <img src="~/images/Courses/@item.Image" width="150px">
                                        </td>
                                        <td>
                                            @item.Price VND
                                        </td>

                                        @if (@item.Active == true)
                                        {
                                            <td class="text-success">
                                                <i class="bi bi-shield-check"></i> <b>Cho phép</b>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">
                                                <i class="bi bi-shield-slash"></i> <b>Bị khóa</b>
                                            </td>
                                        }

                                        <td>
                                            @item.IdCategoryNavigation.Name
                                        </td>
                                        <td>
                                            @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
                                            {
                                                <div class="btn-group">
                                                    <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-area="Admin" asp-controller="AdminCourses" asp-route-id="@item.IdCourse">
                                                        <i class="bi bi-pencil-square"></i> Chỉnh sửa
                                                    </a>
                                                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-area="Admin" asp-controller="AdminCourses" asp-route-id="@item.IdCourse">
                                                        <i class="bi bi-eraser-fill"></i> Xóa
                                                    </a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table -->


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (PageCurrent > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?IdCategory=@PageCategory&Page=1" aria-label="Previous">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                </li>

                if (PageNextMinus >= 1)
                {
                    <li class="page-item"><a class="page-link" href="?IdCategory=@PageCategory&Page=@PageNextMinus">@PageNextMinus</a></li>
                }

                <li class="page-item"><a class="page-link" href="?IdCategory=@PageCategory&Page=@PageBack">@PageBack</a></li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="?IdCategory=@PageCategory&Page=1" aria-label="Previous">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                </li>
            }

            <li class="page-item active"><a class="page-link" href="?IdCategory=@PageCategory&Page=@PageCurrent">@PageCurrent</a></li>

            @if (PageCurrent < PageLength)
            {
                <li class="page-item"><a class="page-link" href="?IdCategory=@PageCategory&Page=@PageNext">@PageNext</a></li>
                if (PageNextPlus <= PageLength)
                {
                    <li class="page-item"><a class="page-link" href="?IdRole=@PageCategory&Page=@PageNextPlus">@PageNextPlus</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="?IdCategory=@PageCategory&Page=@PageLength" aria-label="Next">
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="?IdCategory=@PageCategory&Page=1" aria-label="Next">
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </li>
            }

        </ul>
    </nav>
    <!-- End Pagination -->
    @section Scripts{
        <script>
            $(document).ready(function () {

                $("#textIdCategory option[value=@ViewBag.CurrentIdCategory]").prop('selected', true);

                jQuery("#textIdCategory").change(function () {

                    var IdCategory = parseInt(jQuery(this).children(":selected").attr("value"));
                    $("#textIdCategory > [value=" + IdCategory + "]").attr("selected", true);
                    $.ajax({
                        url: '/Admin/FindAndFilter/FiltterCourses',
                        datatype: "json",
                        type: "GET",
                        data: {
                            IdCategory: IdCategory
                        },
                        async: true,
                        success: function (results) {
                            if (results.status == "success") {
                                window.location.href = results.redirectUrl;
                            }
                        },
                        error: function (xhr) {
                            alert('error');
                        }
                    });
                });

            });
        </script>
    }
    </main>
    <!-- End #main -->